Package: com.jeffresc.shortlook.plugin.contact-photo.tiktok
Name: TikTok Profile Pictures for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0.0
Architecture: iphoneos-arm
Description: Show TikTok users' profile pictures in ShortLook when you receive a TikTok notification!
Maintainer: JeffResc
Author: Jeff Rescignano
Section: Tweaks (ShortLook)
